@charset "UTF-8";

/*全体*/

body {
    font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 0 auto;
    vertical-align: bottom;
}

/*レイアウト*/
.wrapper{
    overflow-x: hidden;
}

.container{
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
}

/*primary heading*/
.primary-heading{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color:#24A8BF;
    margin-bottom: 25px;
}

/*ヘッダー*/
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 10;
    background-color: #fff;
    padding: 5px 0;
}

.header__logo{
    width :60px;
    height: 60px;
}

/*ハンバーガーメニュー*/
.hamburger__btn{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: #24A8BF;
}

.hamburger__line{
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.hamburger__line::before,
.hamburger__line::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.hamburger__line::before{
    top: 10px;

}

.hamburger__line::after{
    bottom: 10px;
}

.hamburger__input.active .hamburger__line{
    top: 50%;
    transform:rotate(45deg);
}

.hamburger__input.active .hamburger__line::before{
    opacity: 0;
}

.hamburger__input.active .hamburger__line::after{
    top: 50%;
    transform: rotate(-45deg);
}

.gnav.active{
    transform: translateX(0);
}

.gnav{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #24A8BF;
    transform: translateX(200px);
}

.gnav__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding-top: 90px;
    padding-left: 40px;
}

.gnav__link{
    color:#fff;
}

/*swiper*/
.mv{
    margin-bottom: 40px;
}

.swiper{
    width:min(100%, 1600px);
    height: 100%;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: #fff;
    height: 10px;
    width: 10px;
  }


/*about section*/
.about__box{
    text-align: center;
}

.about__img{
    width: 100%;
    height: 100%;
}

.about__text{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #707070;
}

.about-box__desc{
    position: relative;
    margin: -30px 20px;
    margin-bottom: 40px;
    padding: 40px 30px 30px 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
}

/*menu section*/
.menu__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.menu__box{
   box-sizing: border-box;
   flex: 0 1 calc(100% / 2);
}

.menu__box-img{
    max-width: 150px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}

.menu__img{
    height: 100%;
    transform: 1s all;
}

.menu__img:hover{
    transform: scale(1.2, 1.2);
    transition: 1s all;
}

.menu__desc{
    margin-top: 10px;
    text-align: center;
}

.menu__title{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.menu__text{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

/*shop*/
.shop__body{
    padding: 0 20px;
}

.table-type01{
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-type01 tr {
    border-bottom: solid 1px #707070;
 }

 .table-type01 th,
 .table-type01 td {
   text-align: left;
   padding: 15px;
 }

 .table-type01 th{
    width: 50%;
 }

 .table-type01 td{
    padding-left: 5px;
 }

.shop__map{
    margin-top: 25px;
    margin-bottom: 40px;
}

.shop__map iframe{
    width: 100%;
    height: 100%;
}

/*contact*/
.contact__form{
    border: solid 3px #F2DBE1;
    box-shadow: 0 0 8px 0 #F2DBE1;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 30px 20px 20px;
}

.form__title{
    display:block;
    font-size: 12px;
    color:#707070;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form__require{
    font-size: 8px;
    color:#d86bcc;
}

.form__any{
    font-size: 8px;
    color:#6b82d8;
}

.form__item:not(:last-child){
    margin-bottom: 20px;
}

.form__input,
.form__textArea{
    color:#707070;
    border: solid 1px #707070;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
}

.form__textArea{
    min-width: 300px;
    min-height: 70px;
    padding: 10px;
    color: #333;
}

.btn{
    display:block;
    background-color: #F2DBE1;
    box-shadow: 1px 3px 6px rgb(0, 0, 0, 0.16);
    border:solid 3px #F2DBE1;
    border-radius: 17px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    color:#707070;
}

.btn:hover{
    transform: translate3d(1px, 3px, 6px);
    box-shadow: none;
}

.form__btn{
    margin-bottom: 30px;
}

/*footer*/
.footer{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #333;
}

.footer__list{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 80px;
}

/*sns icon*/
.footer__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.facebook__icon{
    color:#DCDCDC;
}

.twitter__icon{
    color: #DCDCDC;
}

.insta__icon{
    color: #DCDCDC;
}


/*copyright*/
.copyright{
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 1.5;
}

/*page-top*/
.page-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index:10;
}

.page-top__link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-decoration: none;
    box-shadow: 0 0 2px 0 #707070;
}

.page-top__icon{
    font-size: 20px;
}

@media screen and (min-width: 1080px){

.container{
    padding: 0 50px;
    max-width: 1280px;
    margin: auto;
}

/*primary heading*/
.primary-heading{
    font-size: 46px;
    line-height: 1.5;
    margin-bottom: 35px;
}

/*ヘッダー*/
.header__inner{
    height: 90px;
    padding: 10px 20px;
}

.header__logo{
    width :70px;
    height: 70px;
}


/*
.hamburger__btn{
    display: none;
}


.gnav__list{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

.gnav__link{
    color:#707070;
}
*/

/*swiper*/
.mv{
    margin-bottom: 60px;
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
  }


/*about section*/
.about__box{
    position: relative;
    margin-bottom: 60px;
}

.about__img{
    width: 60%;
    padding-left: 50px;
}

.about-box__desc{
    position: absolute;
    margin: 0;
    right:50px;
    bottom: -40px;
    width: 450px;
    padding: 70px;
    
}
/*menu section*/
.menu__list{
    margin-bottom: 60px;
    padding: 0 40px;
}

.menu__box{
   box-sizing: border-box;
   flex: 0 1 calc(100% / 3);
}

.menu__title{
    font-size: 20px;
    margin-bottom: 10px;
}

.menu__text{
    font-size: 16px;
}

/*shop*/
.shop__table{
    width: 500px;
}

.table-type01{
    font-size: 16px;
}

 .table-type01 th,
 .table-type01 td {
   padding: 25px;
 }

 .table-type01 td{
    padding-left: 15px;
 }


.shop__body{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 0 40px;
    margin-bottom: 60px;
}

.shop__map iframe{
    width: 500px;
    height:350px;
}

/*contact*/
.contact__form{
    margin-bottom: 60px;
    padding: 60px 30px;
}

.form__title{
    font-size: 18px;
    margin-right: 35px;
    margin-bottom: 20px;
}

.form__require{
    font-size: 12px;
}

.form__any{
    font-size: 12px;
}

.form__item:not(:last-child){
    margin-bottom: 50px;
}

.form__input,
.form__textArea{
    padding: 5px;
    width: 50%;
}

.form__textArea{
    min-width: 300px;
    min-height: 200px;
    padding: 20px;
    color: #333;
}

.btn{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.2;
}

/*footer*/
.footer{
    height: 90px;
}

.footer__list{
    column-gap: 30px;
    padding: 5px 80px;
}

.footer__item{
    width: 45px;
    height: 45px;
}

/*copyright*/
.copyright{
    font-size: 15px;
}

/*page-top*/
.page-top{
    right: 25px;
    bottom: 25px;
}

.page-top__link{
    width: 45px;
    height: 45px;
}

.page-top__icon{
    font-size: 30px;
}
}

