@charset "UTF-8";

/*全体*/

body {
    font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 0 auto;
    vertical-align: bottom;
}

/*レイアウト*/
.wrapper{
    overflow-x: hidden;
}

.container{
    padding: 25px 20px;
    max-width: 1170px;
    margin: 0 auto;
}

/*primary heading*/
.section-heading{
    text-align: center;
    margin-bottom: 25px;
}

.primary-heading{
    font-size: 24px;
    line-height: 1.5;
    color:#24A8BF;
    margin-bottom: 5px;
}

.heading-subtitle{
    font-size: 10px;
    color:#707070;

}
/*ヘッダー*/
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 10;
    background-color: #fff;
    padding: 10px 20px;
}

/*ハンバーガーメニュー*/
.hamburger__btn{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: #24A8BF;
    z-index:100;
}

.hamburger__line{
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.hamburger__line::before,
.hamburger__line::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

.hamburger__line::before{
    top: 10px;

}

.hamburger__line::after{
    bottom: 10px;
}

.hamburger__btn.active .hamuburger__line{
    top: 50%;
    transform:rotate(45deg);
    color:#fff;
}

.hamburger__btn.active .hamburger__line::before{
    opacity: 0;
}

.hamburger__btn.active .hamburger__line::after{
    top: 50%;
    transform: rotate(-45deg);
    color: #fff;
}

.gnav.active{
    transform: translateX(0);
}

.gnav{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #24A8BF;
    transform: translateX(200px);
}

.gnav__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding-top: 90px;
    padding-left: 40px;
}

.gnav__link{
    color:#fff;
}

/*swiper*/
.swiper{
    width:100%;
    height: 100%;
    margin-bottom: 50px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: #fff;
    height: 5px;
    width: 5px;
}

.mv__area{
    position: relative;
}

.mv__textArea{
    position:absolute;
    color:#fff;
    top: 80px;
    left: 20px;
}

.mv__area2{
    position: relative;
}

.mv__textArea2{
    position:absolute;
    color:#fff;
    bottom: 20px;
    right: 10px;
}


.mv__img{
    height:100%;
}

.mv__title{
    font-size: 36px;
    margin-bottom: 5px;
}

.mv__text{
    font-size: 16px;
}


/*about section*/
.about__box{
    text-align: center;
}

.about__img{
    width: 100%;
    height: 100%;
}

.about__text{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #707070;
}

.about-box__desc{
    position: relative;
    margin: -30px 20px;
    padding: 40px 30px 30px 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
}

#js-fadeIn{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s, transform 1s;
}

#js-fadeIn.active {
	opacity: 1;
    transform:translateY(0px) ;
}

/*menu section*/
.menu__list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}

.menu__box{
   box-sizing: border-box;
   width: calc((100% - 20px - 20px)/ 2);
}

.menu__box-img{
    width: 100%;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}

.menu__img{
    height: 100%;
    transform: 1s all;
}

.menu__img:hover{
    transform: scale(1.2, 1.2);
    transition: 1s all;
}

.menu__desc{
    margin-top: 10px;
    text-align: center;
}

.menu__title{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.menu__text{
    font-size: max(1.0vw, 12px);
    line-height: 1.4;
    letter-spacing: 0.05em;
}

/*shop*/
.shop__body{
    padding: 0 20px;
}

.table-type01{
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-type01 tr {
    border-bottom: solid 1px #707070;
 }

 .table-type01 th,
 .table-type01 td {
   text-align: left;
   padding: 15px;
 }

 .table-type01 th{
    width: 50%;
 }

 .table-type01 td{
    padding-left: 5px;
 }

.shop__map{
    margin-top: 25px;
}

.shop__map iframe{
    width: 100%;
    height: 100%;
}

  /*contact form*/
  .contact__form{
    border: solid 3px #24A8BF;
    box-shadow: 0 0 4px 0 #24A8BF;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 30px 20px 10px;
}

.form__title{
  display:block;
  position: relative;
  font-size: 12px;
  color:#707070;
  margin-bottom: 10px;
  font-weight: bold;
}

.form__title::after{
  position: absolute;
  content: '*必須';
  font-size: 10px;
  left: 90px;
  bottom: 0;
  color:#D6909D;
}

.form__title2{
  display:block;
  position: relative;
  font-size: 12px;
  color:#727171;
  margin-bottom: 10px;
  font-weight: bold;
}

.form__title2::after{
  position: absolute;
  content: '*任意';
  font-size: 10px;
  left: 90px;
  bottom: 0;
  color:#8ca6d1;
}

.form__item:not(:last-child){
    margin-bottom: 20px;
}

.form__input,
.form__textArea{
    color:#707070;
    border: solid 1px #707070;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
}

.form__textArea{
    width: 80%;
    min-width: 200px;
    min-height: 70px;
    padding: 10px;
    resize: none;
    color:#707070;
}


.btn{
    display:block;
    background-color: #24A8BF;
    box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.16);
    border:solid 3px #24A8BF;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    color:#FFFFFF;
}

.btn:hover{
    transform: translate3d(1px, 3px, 6px);
    box-shadow: none;
}

.form__btn{
    margin-bottom: 30px;
}

/*footer*/
.footer{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #333;
}

.footer__list{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 80px;
}

/*sns icon*/
.footer__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.facebook__icon{
    color:#DCDCDC;
}

.twitter__icon{
    color: #DCDCDC;
}

.insta__icon{
    color: #DCDCDC;
}


/*copyright*/
.copyright{
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 1.5;
}

/*page-top*/
.page-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index:10;
}

.page-top__link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-decoration: none;
    box-shadow: 0 0 2px 0 #707070;
}

.page-top__icon{
    font-size: 20px;
}
